<div data-role="header" data-theme="b">
	<h1>Survey</h1>
</div>
<div data-role="content">
	<%= link_to "Begin Survey", question_path(Question.find(:first)), "data-role"=>"button"%>
</div>
<div data-role="footer" data-theme="b">
	<h4>Copyright 2011</h4>
</div>