<div data-role="header" data-theme="b">
  <a href="/" data-icon="home" rel="external">Home</a>
  <h1>Thank You!</h1>
</div>

<div data-role="content">
  <p data-role="content">
	Thanks for answering the survey! Have a Good Day! :)
  </p>
</div>